
.date-picker {
    position: relative;

    .date-picker-panel {
        position: absolute;
        z-index: 99;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, .1);
        background: white;
        padding: 1rem;

        .date-picker-controls {
            display: flex;
            justify-content: space-evenly;
        }

        .date-picker-legend {
            margin: 1rem 0 0 0;
            display: grid;
            grid-template-columns: repeat(7, 1fr);
            grid-gap: 10px;
            text-align: center;
            width: 100%;

            div {
                padding: .5rem;
            }
        }

        .days {
            margin: 1rem 0 0 0;
            display: grid;
            grid-template-columns: repeat(7, 1fr);
            grid-auto-rows: 30px;
            grid-gap: 10px;
            width: 100%;

            div {
                min-width: 25px;
                min-height: 25px;
                max-width: 30px;
                padding: 0.25rem;
                border: 2px solid lightgray;
                border-radius: 5px;
                font-size: 0.8rem;
                text-align: center;
            }

            div:hover:not(.selected) {
                cursor: pointer;
                transform: scale(1.1);
                background: #cccccc;
                transition: transform 0.2s;
            }
            
            div.selected {
                background-color: #575757;
                color: white;
            }
        }
    }

    .date-picker-button {
        border: 2px solid darkgrey;
        border-radius: 100%;
        width: 25px;
        height: 25px;
        background-color: lightgrey;
        color: #868686;
        font-weight: bold;
    }

    .date-picker-button:hover {
        cursor: pointer;
        transform: scale(1.05);
        transition: all 0.2s;
    }

    .date-picker-button:focus {
        outline: none;
        box-shadow: 0 0 10px var(--hl-one-rgba);
    }
}

.btn-secondary, .date-picker-value {
    background-color: var(--bg-one);
    padding: .5rem 1rem;
    display: inline-block;
    border-radius: 10px;
}