
// Load Master Styles
// -------------------------
@import "../../../Styles/Bootstrap/variables.less";
@import "../../../Styles/_rock-core.less";
@import "../../../Styles/_store.less";
@import "../../../Styles/_rock-variables.less";
@import "_variables.less";
@import "_variable-overrides.less";
@import "_print.less";
@import "./components/_navbar.less";
@import "./components/_hero.less";
@import "./components/_panels.less";
@import "./components/_transaction-entry.less";
@import "./components/_public-profile.less";
@import "./components/_cards.less";
@import "./components/_banners.less";
@import "./components/_buttons.less";

/*
    Rock Theme Styles

    1. HTML Overrides
    2. Bootstrap Overrides
    3. Theme Styling
    4. Responsive Overrides

*/

// 1. HTML Overrides
// -------------------------

html,
body {
  height: 100%;
  font-family: bilo, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

main {
  display: block;
}

#form1 {
  display: -ms-flexbox !important;
  display: flex !important;
  -ms-flex-direction: column !important;
  flex-direction: column !important;
  height: 100% !important;
}

.navbar {
  margin-bottom: 0;
}

.navbar-default {
  background: none;
  border: none;
}

.main {
  flex-shrink: 0 !important;
  padding-top: 32px;
  padding-bottom: 32px;
  -ms-flex-negative: 0 !important;
}

.page-footer {
  margin-top: auto; // Stick Footer to Bottom when content is short
  border-top: 1px solid @footer-default-border;

  > .container {
    padding-top: 48px;
    padding-bottom: 48px;
  }
}

.card:hover {
  text-decoration: none;

  .text-muted {
    color: @text-muted;
  }
}

// 2. Bootstrap Overrides
// -------------------------

.well {
  box-shadow: none;
}

.breadcrumb {
  padding-right: 0;
  padding-left: 0;
  margin: 0;
  font-size: @font-size-small;

  a {
    color: @breadcrumb-color;
  }

  > li + li::before {
    padding: 0 3px 0 5px;
    color: @breadcrumb-color;
  }
}

.image {
  border-radius: 10px;
  box-shadow: 5px 0 20px rgba(0, 0, 0, .2);
  overflow: hidden;
}

.w-fit-content {
  width: fit-content !important;
}

.calendar-selected {
  background: none !important;
}

.bcc-login .dropdown-toggle {
  text-align: center;
  border-radius: 10px 10px 0 0;
}

.bcc-login .dropdown-toggle:hover {
  background: none;
}

.bcc-login .dropdown-menu {
  border-radius: 10px;
}

.bcc-login .dropdown-menu li a {
  transition: all .15s;
}

.bcc-login .dropdown-menu li a:hover {
  background: none;
  transform: scale(1.05);
  font-weight: bold;
}

.bcc-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.calendar {
  border-radius: 10px;
}

.panel.panel-default {
  border-radius: 10px;
}

.bcc-dropdown .dropdown-toggle {
  background-color: var(--bg-one);
}

.bcc-dropdown .dropdown-menu {
  border-radius: 10px;
}

.bcc-loading {
  text-align: center;
  padding-top: 25vh;
}

@import "_css-overrides.less";
